{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": false
  },
  "globals": {
    "window": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "max-len": [1, {
      "ignoreUrls": true
    }],
    "no-param-reassign": 0,
    "no-use-before-define": ["error", {
      "functions": false
    }],
    "padded-blocks": 0
  }
}
