{
  "env": {
    "browser": true,
    "node": false
  },
  "extends": "airbnb",
  "globals": {
    "window": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "complexity": ["error", { "max": 10 }],
    "jsx-quotes": ["warn", "prefer-double"],
    "max-depth": ["error", { "max": 3 }],
    "max-params": ["error", { "max": 3 }],
    "max-statements-per-line" : ["error", { "max": 1 }],
    "max-len": ["error", { "ignoreUrls": true }],
    "newline-before-return": "error",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "padded-blocks": "off",
    "react/jsx-filename-extension": "off",
    "react/sort-comp": "off",
    "valid-jsdoc": ["error"]
  }
}
